@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    /*Textos e fundo */
    --cor-01: #0f0f17; /*Cor de fundo principal (body)*/
    --cor-02: #0a0a10; /*Navbar e footer*/
    --cor-03: #e0e0e0; /*Texto principal*/
    --cor-04: #b0b0b0; /*Texto secundário (descrições)*/

    /*Cores das divs e bordas*/
    --cor-05: #1a1a2a; /*Cards de projetos*/
    --cor-06: #2a2a3a; /*Bordas sutis (hover: #6c79ff*/

    /*Títulos*/
    --cor-07: #337cfb; /*cores do gradiente para os títulos*/
    --cor-08: #6d52c4; /*cores do gradiente para os títulos*/
}

body {
    background-color: var(--cor-01);
    font-family: 'Fira Code', monospace, Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    display: flex;
    background-color:var(--cor-02);
    border-bottom: 0.4px solid var(--cor-04);
    padding: 15px;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    cursor: pointer;
}

h1, h2 {
    background-image: linear-gradient(to bottom, var(--cor-07), var(--cor-08));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.7em;
    line-height: 1.4em;
}

nav {
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: var(--cor-04);
    margin-left: 10px;
}

nav a:hover {
    color: var(--cor-07);
}

main {
    background-color: var(--cor-01);
}

main {
    width: 100vw;
    height: 100vh;
}

section#começo {
    padding: 20px;
    padding-top: 40px;
    text-align: center;
}

h1#título {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 3em;
    line-height: 1.5em;
}

p#text {
    color: var(--cor-04);
    line-height: 1.7em;
    padding-bottom: 20px;
}

button {
    background-image: linear-gradient(to right, var(--cor-07), var(--cor-08));
    color: white;
    padding: 14px;
    margin-top: 15px;
    font-size: 20px;
    border: none;
    border-radius: 7px;
    transition: all 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
    filter: brightness(1.1);
    box-shadow: 0 5px 15px rgba(108, 121, 255, 0.3);
    transition: transform 0.3s;
}

section#projetos {
    margin-top: 100px;
}

section h2 {
    padding: 20px;
    font-size: 2em;
    margin-bottom: 30px;
}

div#pai-cards {
    display: flex;
    flex-flow: row wrap;
}

div.cards {
    color: var(--cor-04);
    background-color: var(--cor-05);
    border-radius: 10px;
    padding: 20px;
    margin-left: 12px;
    margin-right: 15px;
    margin-bottom: 20px;
    flex: 1 1 300px;
    transition: all 0.3s ease;
}

div.cards:hover {
    transition: .3s;
    transform: translateY(-5px);
    border: 1px solid var(--cor-07);
}

p.assunto-t {
    padding: 10px;
    color: white;
}

