    @charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
   
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');

    :root{
        --fonte-01: Verdana, geneva, tahoma, sans-serif;
        --fonte-02: "Passion One", sans-serif;
        --fonte-03: "Playwrite RO", cursive;
    }

    *{
        padding: 0px;
        margin: 0px;
    }

    html, body{
        font-family: var(--fonte-01);
        min-height: 100vh;
        background-color: darkgray;
    }

    a{
        text-decoration: none;
        color: white;
    }

    a:hover{
        text-decoration: underline;
        color: lightblue;
    }

    strong{
        font-weight: bold;
    }


    header{
        background-color: black;
        color: white;
        padding: 10px;
        text-align: center;
    }

    header >h1{
        font-family: var(--fonte-02);
        font-size: 10vw;
        padding-top: 35px;
        font-variant: small-caps;
    }

    header >p{
        font-family: var(--fonte-01);
        padding-top: 8px;
        padding-bottom: 40px;
    }

    section{
        font-family: var(--fonte-03);
        font-size: 3.5vw;
        padding-top: 10vh;
        padding-bottom: 10vh;
        line-height: 2em;
        padding-left: 32px;
    }

    section.normal{
        background-color: white;
        color: black;
    }

    section.imagem{
        background-color: rgb(43, 43, 43);
        color: white;
    }

    section.imagem >p{
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.108);
        padding: 10px;
    }

    footer{
        background-color: black;
        color: white;
        text-align: center;
        padding: 10px;
    }

